In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
import glob
csv_files=glob.glob('data/AQMS'+'/*.csv')

df=pd.concat((pd.read_csv(f) for f in csv_files))
df.head()

  Site Species   ReadingDateTime  Value  Units Provisional or Ratified
0  CT2   PM2.5  01/01/2019 00:00   13.0  ug/m3                       R
1  CT2   PM2.5  01/01/2019 01:00   12.0  ug/m3                       R
2  CT2   PM2.5  01/01/2019 02:00    8.0  ug/m3                       R
3  CT2   PM2.5  01/01/2019 03:00    6.0  ug/m3                       R
4  CT2   PM2.5  01/01/2019 04:00    5.0  ug/m3                       R

In [3]:
df.shape

(402960, 6)

In [4]:
df=df.drop(['Species','Units','Provisional or Ratified'],axis=1)

In [5]:
df.head()

  Site   ReadingDateTime  Value
0  CT2  01/01/2019 00:00   13.0
1  CT2  01/01/2019 01:00   12.0
2  CT2  01/01/2019 02:00    8.0
3  CT2  01/01/2019 03:00    6.0
4  CT2  01/01/2019 04:00    5.0

In [6]:
df.groupby('Site').describe()

       Value
       count       mean        std  min  25%   50%   75%        max
Site
BL0   8558.0  10.750888  10.112520 -3.3  4.7   7.6  12.7   92.40000
BQ9      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
BT4      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
BX9   7169.0  11.813182  10.972091 -3.8  5.3   7.9  13.8   88.10000
BY7      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
CD1   8544.0  11.132924  10.262592 -2.8  4.9   7.8  13.4   88.30000
CD9   8730.0  13.642887  10.411786 -7.3  7.2  10.9  16.3   83.90000
CE2      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
CR8   8711.0  10.115831   9.176507 -3.0  5.0   7.0  12.0   84.00000
CT2   8437.0  13.957568  10.865349 -3.0  8.0  11.0  16.0  441.00000
CT3   7575.0  11.669967  10.486332 -3.0  6.0   9.0  15.0  251.00000
GB0   8637.0  12.176705   9.036808 -1.2  6.7   9.4  14.1   79.80000
GN0   3193.0  11.319449   9.740894 -7.2  4.9   8.3  14.9   65.10000
GN3   8342.0  13.411832  11.277777 -3.5  6.8   9.6  15.5  109.40000
GN6   8252.0  10.966893   9.999743 -4.2  5.1   7.7  12.5   84.10000
GR4   8516.0  10.863269   9.913018 -2.7  5.2   8.0  12.5   97.60000
GR8      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
GR9   8713.0  10.425215  10.639660 -4.3  4.0   6.9  12.6   84.50000
HG1      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
HP1   8756.0   9.933029   9.987813  0.4  4.2   6.5  11.3   90.90000
HR1      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
HV1   8403.0  11.004820  12.916148 -9.0  4.5   7.8  13.5  472.20001
KC1   8723.0   9.579548   9.470490  0.4  4.2   6.3  11.0  121.00000
KF1   8723.0   9.578723   9.470523  0.4  4.1   6.4  11.0  121.00000
LH0   8510.0   9.538249   9.165456  0.4  4.1   6.3  11.2   91.00000
LW2   7742.0  14.953500  11.325410 -6.2  8.0  11.6  17.9   92.60000
LW5    411.0   8.671533   7.945340 -4.0  3.0   7.0  13.0   40.00000
MY7   7948.0  14.347974  10.963840 -3.3  7.5  11.4  17.5   93.00000
NM2      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
NM3      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
RB7   3399.0  11.471315  10.159918 -4.0  6.0   9.0  15.0  272.00000
RD0   3249.0   8.211480   8.305129 -5.0  3.0   6.0  11.0   80.00000
SK6      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
SK8      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
SK9      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
SKA      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
SKB      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
SKC      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
ST5   8648.0  11.718316  10.163471 -7.0  6.0   9.0  14.0   99.00000
TD5   8148.0  11.784892  14.797966  0.0  5.8   8.6  13.4  592.79999
TH4   6478.0  13.380195  11.332006 -5.3  6.5   9.7  16.1  152.30000
TK3   7940.0  11.548237  11.593650 -2.0  5.0   8.0  14.0  111.00000
TK9      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
TL6      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN
WM0   2215.0  11.681716   9.942168  0.0  7.0   9.0  14.0  339.00000
WMD      0.0        NaN        NaN  NaN  NaN   NaN   NaN        NaN

In [7]:
valid_AQMS=df.dropna()['Site'].unique().tolist()
valid_AQMS

['CT2',
 'CT3',
 'CR8',
 'GN0',
 'GR4',
 'GB0',
 'HV1',
 'LH0',
 'KC1',
 'KF1',
 'LW5',
 'HP1',
 'GN6',
 'GN3',
 'GR9',
 'ST5',
 'TK3',
 'TH4',
 'WM0',
 'MY7',
 'RB7',
 'LW2',
 'TD5',
 'RD0',
 'BX9',
 'BL0',
 'CD9',
 'CD1']

In [8]:
df['valid']=df['Site'].isin(valid_AQMS)

In [9]:
clean_df=df[df['valid']]

In [10]:
clean_df

      Site   ReadingDateTime  Value  valid
0      CT2  01/01/2019 00:00   13.0   True
1      CT2  01/01/2019 01:00   12.0   True
2      CT2  01/01/2019 02:00    8.0   True
3      CT2  01/01/2019 03:00    6.0   True
4      CT2  01/01/2019 04:00    5.0   True
...    ...               ...    ...    ...
52555  CD1  31/12/2019 19:00   22.4   True
52556  CD1  31/12/2019 20:00   23.8   True
52557  CD1  31/12/2019 21:00   21.8   True
52558  CD1  31/12/2019 22:00   23.1   True
52559  CD1  31/12/2019 23:00   31.3   True

[245280 rows x 4 columns]

In [11]:
len(clean_df['Site'].unique())

28

In [12]:
clean_df=clean_df.drop('valid',axis=1)

In [13]:
gdf=gpd.read_file('data/AQMS/AQMS.gpkg')
gdf

/Users/Mario/opt/anaconda3/envs/sds2021/lib/python3.8/site-packages/geopandas/geodataframe.py:577: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

,classification,dataowner,easting,latitude,longitude,northing,objectid,ozonepod,pollutant_co,pollutant_no2,...,pollutant_pm10,pollutant_pm25,pollutant_so2,siteid,sitemanager,sitename,sitetype,url,runtime,geometry
0,Airport,None,542525.2800145757,51.5028,0.0521,180203.16723543755,2,None,None,None,...,None,None,None,CAH,None,City Aviation House,The monitoring site is located on top of the b...,https://lcy.aqconsultants.co.uk/index.php/cah,08/29/2019,POINT (542525.241 180203.091)
1,Airport,None,542948.1357935619,51.5028,0.058193,180215.04111000145,3,None,None,None,...,None,None,None,KGV,None,King George V,The site measures PM10 and PM2.5 concentration...,https://lcy.aqconsultants.co.uk/index.php/kgv,08/29/2019,POINT (542948.097 180214.965)
2,Breathe London,None,535618.12376207381,51.521017999999998,-0.046672999999999999,182041.58454892109,72,No,None,None,...,None,None,None,2450071,None,"Beaumont Grove, Tower Hamlets",None,https://www.breathelondon.org/,08/29/2019,POINT (535618.087 182041.508)
3,Airport,None,542295.805364199,51.5074,0.049,180708.65635050513,1,None,None,None,...,None,None,None,ND,None,Newham Dockside,Ground level monitor. The site monitors NO2 an...,https://lcy.aqconsultants.co.uk/index.php/nd,08/29/2019,POINT (542295.767 180708.580)
4,Breathe London,None,524303.28797191242,51.604480000000002,-0.20649000000000001,191039.16036506533,4,No,None,None,...,None,None,None,2450001,None,"Dollis Road, Barnet",None,https://www.breathelondon.org/,08/29/2019,POINT (524303.254 191039.081)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,LAQN network,Westminster,528127.19201830425,51.522539999999999,-0.15459000000000001,182016.50628772046,232,None,,NO2,...,PM10,,SO2,MY1,King's College London,Westminster - Marylebone Road,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (528127.157 182016.430)
232,LAQN network,Westminster,528127.19201830425,51.522539999999999,-0.15459000000000001,182016.50628772046,233,None,,,...,PM10,PM2.5,,MY7,King's College London,Westminster - Marylebone Road FDMS,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (528127.157 182016.430)
233,LAQN network,Westminster,528276.04733778769,51.513928739999997,-0.152792702,181062.04605475359,234,None,,NO2,...,PM10,,,WM6,King's College London,Westminster - Oxford Street,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (528276.012 181061.970)
234,LAQN network,Westminster,529493.17448304396,51.516066000000002,-0.13516387999999999,181330.73900460167,235,None,,NO2,...,PM10,,,WMB,King's College London,Westminster - Oxford Street East,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (529493.139 181330.663)
235,LAQN network,Westminster,530785.04822871834,51.511970120000001,-0.116713104,180908.04678028054,236,None,,NO2,...,,,,NB1,King's College London,Westminster - Strand (Northbank BID),Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (530785.013 180907.970)

In [14]:
def comparelist(list1,list2):
    opt=[]
    for elem in list1:
        if elem not in list2:
            opt.append(elem)
    return opt

missing=comparelist(valid_AQMS,gdf.iloc[gdf['siteid'].isin(valid_AQMS).tolist()]['siteid'].tolist())
missing

['KF1', 'LW5', 'TK3', 'RD0']

**KF1**: Kensington and Chelsea - North Ken FIDAS 

      51.521046747604, -0.213492139585

**LW5**: Lewisham - Deptford

      51.479531283820, -0.025260603134

**RD0**: Reading - New Town

      51.452984707517, -0.944461432664

**TK3**: Thurrock - Stanford-le-Hope

      51.518162000000, 0.4395480000000

In [15]:
clean_df[clean_df['Site'].isin(missing)].groupby('Site').describe()

       Value
       count       mean        std  min  25%  50%   75%    max
Site
KF1   8723.0   9.578723   9.470523  0.4  4.1  6.4  11.0  121.0
LW5    411.0   8.671533   7.945340 -4.0  3.0  7.0  13.0   40.0
RD0   3249.0   8.211480   8.305129 -5.0  3.0  6.0  11.0   80.0
TK3   7940.0  11.548237  11.593650 -2.0  5.0  8.0  14.0  111.0

In [16]:
AQMS_gdf=gdf.iloc[gdf['siteid'].isin(valid_AQMS).tolist()].copy()
AQMS_gdf=AQMS_gdf.reset_index(drop=True)
AQMS_gdf

,classification,dataowner,easting,latitude,longitude,northing,objectid,ozonepod,pollutant_co,pollutant_no2,...,pollutant_pm10,pollutant_pm25,pollutant_so2,siteid,sitemanager,sitename,sitetype,url,runtime,geometry
0,LAQN network,Bexley,551864.05595827068,51.465983270000002,0.184877127,176376.0623063891,116,None,,,...,,PM2.5,,BX9,King's College London,Bexley - Slade Green FDMS,Suburban,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (551864.015 176375.987)
1,LAQN network,Camden,530121.81166286697,51.522286999999999,-0.12584799999999999,182039.0486970155,121,None,,NO2,...,PM10,PM2.5,SO2,BL0,King's College London,Camden - Bloomsbury,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (530121.776 182038.972)
2,LAQN network,Camden,529902.6377095877,51.527974999999998,-0.12877420000000001,182666.38032607222,122,None,,NO2,...,PM10,PM2.5,,CD9,King's College London,Camden - Euston Road,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (529902.602 182666.303)
3,LAQN network,Camden,526631.47107118985,51.544218999999998,-0.175284,184391.30762467883,124,None,,NO2,...,PM10,PM2.5,,CD1,King's College London,Camden - Swiss Cottage,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (526631.437 184391.230)
4,LAQN network,City of London,531624.04858928965,51.514525339999999,-0.104515626,181214.0459792646,126,None,,,...,,PM2.5,,CT2,King's College London,City of London - Farringdon Street,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (531624.013 181213.970)
5,LAQN network,City of London,533482.04923712683,51.513847179999999,-0.077765682000000003,181187.04583057406,127,None,,NO2,...,PM10,PM2.5,,CT3,King's College London,City of London - Sir John Cass School,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (533482.013 181186.969)
6,LAQN network,Croydon,530324.77977394511,51.410038999999998,-0.127523,169553.79191330681,131,None,,,...,,PM2.5,,CR8,King's College London,Croydon - Norbury Manor,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (530324.744 169553.719)
7,LAQN network,Greenwich,544085.87852626643,51.490532000000002,0.074002999999999999,178881.92229666648,143,None,,NO2,...,PM10,PM2.5,,GN0,King's College London,Greenwich - A206 Burrage Grove,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (544085.839 178881.847)
8,LAQN network,Greenwich,543980.52701839909,51.452579999999998,0.070765999999999996,174655.30392988044,145,None,,NO2,...,PM10,PM2.5,SO2,GR4,King's College London,Greenwich - Eltham,Suburban,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (543980.488 174655.229)
9,LAQN network,Greenwich,544999.77969157521,51.456299999999999,0.085606000000000002,175098.22208906326,147,None,,,...,,PM2.5,,GB0,King's College London,Greenwich - Falconwood FDMS,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (544999.740 175098.147)
10,LAQN network,Greenwich,539687.05153110542,51.493774670000001,0.010779624,179120.05307542486,149,None,,NO2,...,PM10,PM2.5,,GN6,King's College London,Greenwich - John Harrison Way,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (539687.014 179119.977)
11,LAQN network,Greenwich,545562.55041548202,51.486956999999997,0.095111000000000001,178526.11208995531,150,None,,NO2,...,PM10,PM2.5,,GN3,King's College London,Greenwich - Plumstead High Street,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (545562.511 178526.036)
12,LAQN network,Greenwich,541881.67006827914,51.456356999999997,0.040724999999999997,175016.72136491479,152,None,,NO2,...,PM10,PM2.5,,GR9,King's College London,Greenwich - Westhorne Avenue,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (541881.632 175016.647)
13,LAQN network,Havering,553110.05650428915,51.520787460000001,0.20546070599999999,182513.04100170004,160,None,,NO2,...,PM10,PM2.5,,HV1,King's College London,Havering - Rainham,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (553110.015 182512.964)
14,LAQN network,Hillingdon,508294.31888676516,51.488779999999998,-0.44162699999999999,177799.03647768195,164,None,,NO2,...,PM10,PM2.5,,LH0,King's College London,Hillingdon - Harlington,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (508294.289 177798.961)
15,LAQN network,Kensington and Chelsea,524045.04576261574,51.521046749999996,-0.21349214,181749.04391859384,184,None,,NO2,...,,PM2.5,SO2,KC1,King's College London,Kensington and Chelsea - North Ken,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (524045.012 181748.967)
16,LAQN network,Lewisham,536473.05027232668,51.449672900000003,-0.037415359000000002,174125.07131473016,193,None,,NO2,...,PM10,PM2.5,,HP1,King's College London,Lewisham - Honor Oak Park,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (536473.013 174124.997)
17,LAQN network,Lewisham,536243.15146687836,51.474953999999997,-0.039641000000000003,176932.22304151417,196,None,,NO2,...,PM10,PM2.5,,LW2,King's College London,Lewisham - New Cross,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (536243.114 176932.148)
18,LAQN network,Redbridge,544454.05338674353,51.569484330000002,0.082907474999999994,187679.02237047144,202,None,,NO2,...,PM10,PM2.5,,RB7,King's College London,Redbridge - Ley Street,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (544454.014 187678.944)
19,LAQN network,Richmond,515120.04238407098,51.425256040000001,-0.34560829100000001,170881.08291896089,203,None,,,...,,PM2.5,,TD5,King's College London,London Teddington Bushy Park,Suburban,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (515120.011 170881.009)
20,LAQN network,Sutton,529400.04759113269,51.389286900000002,-0.14166152500000001,167221.0951001186,210,None,,NO2,...,PM10,PM2.5,,ST5,King's College London,Sutton - Beddington Lane north,Industrial,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (529400.012 167221.022)
21,LAQN network,Tower Hamlets,538290.05099673895,51.515046169999998,-0.0084184930000000009,181449.04500947171,214,None,,NO2,...,PM10,PM2.5,,TH4,King's College London,Tower Hamlets - Blackwall,Roadside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (538290.013 181448.969)
22,LAQN network,Westminster,529777.68911919813,51.494681,-0.131938,178958.36183055147,231,None,,NO2,...,PM10,,,WM0,King's College London,Westminster - Horseferry Road,Urban Background,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (529777.654 178958.286)
23,LAQN network,Westminster,528127.19201830425,51.522539999999999,-0.15459000000000001,182016.50628772046,233,None,,,...,PM10,PM2.5,,MY7,King's College London,Westminster - Marylebone Road FDMS,Kerbside,http://www.londonair.org.uk/london/asp/publics...,08/29/2019,POINT (528127.157 182016.430)

In [17]:
AQMS_gdf=AQMS_gdf.loc[:,['latitude','longitude','siteid','sitename']]
AQMS_gdf

,latitude,longitude,siteid,sitename
0,51.465983270000002,0.184877127,BX9,Bexley - Slade Green FDMS
1,51.522286999999999,-0.12584799999999999,BL0,Camden - Bloomsbury
2,51.527974999999998,-0.12877420000000001,CD9,Camden - Euston Road
3,51.544218999999998,-0.175284,CD1,Camden - Swiss Cottage
4,51.514525339999999,-0.104515626,CT2,City of London - Farringdon Street
5,51.513847179999999,-0.077765682000000003,CT3,City of London - Sir John Cass School
6,51.410038999999998,-0.127523,CR8,Croydon - Norbury Manor
7,51.490532000000002,0.074002999999999999,GN0,Greenwich - A206 Burrage Grove
8,51.452579999999998,0.070765999999999996,GR4,Greenwich - Eltham
9,51.456299999999999,0.085606000000000002,GB0,Greenwich - Falconwood FDMS
10,51.493774670000001,0.010779624,GN6,Greenwich - John Harrison Way
11,51.486956999999997,0.095111000000000001,GN3,Greenwich - Plumstead High Street
12,51.456356999999997,0.040724999999999997,GR9,Greenwich - Westhorne Avenue
13,51.520787460000001,0.20546070599999999,HV1,Havering - Rainham
14,51.488779999999998,-0.44162699999999999,LH0,Hillingdon - Harlington
15,51.521046749999996,-0.21349214,KC1,Kensington and Chelsea - North Ken
16,51.449672900000003,-0.037415359000000002,HP1,Lewisham - Honor Oak Park
17,51.474953999999997,-0.039641000000000003,LW2,Lewisham - New Cross
18,51.569484330000002,0.082907474999999994,RB7,Redbridge - Ley Street
19,51.425256040000001,-0.34560829100000001,TD5,London Teddington Bushy Park
20,51.389286900000002,-0.14166152500000001,ST5,Sutton - Beddington Lane north
21,51.515046169999998,-0.0084184930000000009,TH4,Tower Hamlets - Blackwall
22,51.494681,-0.131938,WM0,Westminster - Horseferry Road
23,51.522539999999999,-0.15459000000000001,MY7,Westminster - Marylebone Road FDMS

In [18]:
AQMS_gdf.dtypes

latitude     object
longitude    object
siteid       object
sitename     object
dtype: object

In [19]:
AQMS_gdf=AQMS_gdf.astype({'latitude':'float64','longitude':'float64','siteid':'string','sitename':'string'})
AQMS_gdf.dtypes

latitude     float64
longitude    float64
siteid        string
sitename      string
dtype: object

In [20]:
AQMS_gdf.append([{'latitude':51.521046747604, 'longitude': -0.213492139585,
                  'siteid':'KF1', 'sitename':'Kensington and Chelsea - North Ken FIDAS'},
                 {'latitude':51.479531283820, 'longitude':-0.025260603134,
                  'siteid':'LW5','sitename':'Lewisham - Deptford'},
                 {'latitude':51.452984707517,'longitude':-0.944461432664,
                  'siteid':'RD0','sitename':'Reading - New Town'},
                 {'latitude':51.518162000000,'longitude':0.4395480000000,
                  'siteid':'TK3','sitename':'Thurrock - Stanford-le-Hope'}],ignore_index=True)

     latitude  longitude siteid                                  sitename
0   51.465983   0.184877    BX9                 Bexley - Slade Green FDMS
1   51.522287  -0.125848    BL0                       Camden - Bloomsbury
2   51.527975  -0.128774    CD9                      Camden - Euston Road
3   51.544219  -0.175284    CD1                    Camden - Swiss Cottage
4   51.514525  -0.104516    CT2        City of London - Farringdon Street
5   51.513847  -0.077766    CT3     City of London - Sir John Cass School
6   51.410039  -0.127523    CR8                   Croydon - Norbury Manor
7   51.490532   0.074003    GN0            Greenwich - A206 Burrage Grove
8   51.452580   0.070766    GR4                        Greenwich - Eltham
9   51.456300   0.085606    GB0               Greenwich - Falconwood FDMS
10  51.493775   0.010780    GN6             Greenwich - John Harrison Way
11  51.486957   0.095111    GN3         Greenwich - Plumstead High Street
12  51.456357   0.040725    GR9              Greenwich - Westhorne Avenue
13  51.520787   0.205461    HV1                        Havering - Rainham
14  51.488780  -0.441627    LH0                   Hillingdon - Harlington
15  51.521047  -0.213492    KC1        Kensington and Chelsea - North Ken
16  51.449673  -0.037415    HP1                 Lewisham - Honor Oak Park
17  51.474954  -0.039641    LW2                      Lewisham - New Cross
18  51.569484   0.082907    RB7                    Redbridge - Ley Street
19  51.425256  -0.345608    TD5              London Teddington Bushy Park
20  51.389287  -0.141662    ST5            Sutton - Beddington Lane north
21  51.515046  -0.008418    TH4                 Tower Hamlets - Blackwall
22  51.494681  -0.131938    WM0             Westminster - Horseferry Road
23  51.522540  -0.154590    MY7        Westminster - Marylebone Road FDMS
24  51.521047  -0.213492    KF1  Kensington and Chelsea - North Ken FIDAS
25  51.479531  -0.025261    LW5                       Lewisham - Deptford
26  51.452985  -0.944461    RD0                        Reading - New Town
27  51.518162   0.439548    TK3               Thurrock - Stanford-le-Hope